@import "../../responsive.scss";

.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;

  @include sm {
    height: 280px;
  }

  .fullSlider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

    .arrow {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;

        @include md {
          width: 30px;
        }

        @include sm {
          width: 20px;
        }

        &.right {
          transform: rotate(180deg);
        }
      }
    }
    .imgContainer {
      flex: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: 36px;
      font-weight: bold;
      padding: 50px;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  .bigImage {
    flex: 3;

    @include sm {
      flex: 2;
    }
  }

  .smallImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @include sm {
      flex: 1;
    }

    img {
      height: 100px;

      @include sm {
        height: 80px;
      }
    }

    .blurredImage {
      position: relative;
      height: 100px; // Ensure this matches your image size
      filter: blur(4px); // Adjust blur effect as needed
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // "+N more" overlay
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(
          0,
          0,
          0,
          0.8
        ); // Dark background for better contrast
        color: white;
        font-size: 20px; // Increase font size for better visibility
        font-weight: bold;
        z-index: 1; // Ensure it's on top of the image
        border-radius: 10px;

        @include sm {
          font-size: 18px; // Responsive font size
        }
      }
    }
  }
}
